{% extends 'base.html'%}

{% block pageheading %}
Drug Index
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Useful Linkssss</span>
                </a>
            </div>
            
            <div class="error-404-underline que-coll-line"></div>
            {% if drug_index_object %}
            <div class="que-coll-left-container">
                <div class="post-display-details">
                    <div class="post-display-item">
                        <div class="post-display-item-left">
                            <span>Trade Name</span>
                        </div>
                        <div class="post-display-item-right">
                            <span>{{drug_index_object.trade_name}}</span>
                        </div>
                    </div>
                    <div class="post-display-item">
                        <div class="post-display-item-left">
                            <span>Composition</span>
                        </div>
                        <div class="post-display-item-right">
                            <span>{{drug_index_object.composition}}</span>
                        </div>
                    </div>
                    <div class="post-display-item">
                        <div class="post-display-item-left">
                            <span>Indication/ Contraindication</span>
                        </div>
                        <div class="post-display-item-right">
                            <span>{{drug_index_object.indication_contraindication}}</span>
                        </div>
                    </div>
                    <div class="post-display-item">
                        <div class="post-display-item-left">
                            <span>Dosage</span>
                        </div>
                        <div class="post-display-item-right">
                            <span>{{drug_index_object.dosage}}</span>
                        </div>
                    </div>
                    <div class="post-display-item">
                        <div class="post-display-item-left">
                            <span>Remarks</span>
                        </div>
                        <div class="post-display-item-right">
                            <span>{{drug_index_object.remarks}}</span>
                        </div>
                    </div>
                    <div class="post-display-image">
                        {% if drug_index_object.image %}
                        <img src="{{ drug_index_object.image.url }}" alt="Image-Here" />
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="que-coll-top-right">
            {% include 'snippet_code/popular_post.html' %}
            
            {% include 'snippet_code/join_with_us.html' %}
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>

    {% include 'snippet_code/other_related_post.html' %}
</div>
{% include 'snippet_code/snippet_iframe_pdf_view_js.html' %}
{% endblock content %}