{% extends 'base.html'%}
{% load static %}
{% load pagination_tags %}

{% block pageheading %}
Meet the People behind Nepal Veterinary Education
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="people-list-container">
        {% for experts_data in experts_page_obj %}
        <div class="people-list-item">
            <div class="item-list-top">
                <div class="item-list-top-image">
                    <div class="people-item-image">
                        {% if experts_data.image %}
                        <img src="{{ experts_data.image.url }}" alt="Image-Here" />
                        % else %
                        <p>No image available</p>
                        {% endif %}
                    </div>
                </div>
                <div class="people-item-text flex-column">
                    <h3>{{experts_data.name}}</h3>
                    <p>{{experts_data.designation}}</p>
                </div>
            </div>
            <div class="item-list-bottom">
                <div class="bottom-list-social-icons item-border-right">
                    <a href="{{experts_data.linkedin_url}}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="bottom-list-social-icons item-border-right">
                    <a href="{{experts_data.facebook_url}}" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="bottom-list-social-icons">
                    <a href="{{experts_data.website}}" target="_blank"><i class="fa-brands fa-dribbble"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="buttons team-buttons">
        {% if experts_page_obj.has_previous %}
        <a href="?page={{ experts_page_obj.previous_page_number }}">
            <div class="button">
                <i class="fa-solid fa-angle-left"></i>
            </div>
        </a>
        {% else %}
        <a disabled>
            <div class="button">
                <i class="fa-solid fa-angle-left"></i>
            </div>
        </a>
        {% endif %}


        {% if experts_page_obj.has_next %}
        <a href="?page={{ experts_page_obj.next_page_number }}">
            <div class="button">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </a>
        {% else %}
        <a disabled>
            <div class="button">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </a>
        {% endif %}
        <span>Page : {{ experts_page_obj.number }} of {{ experts_page_obj.paginator.num_pages }}</span>
    </div>
    {% endblock content %}