{% extends 'base_home.html' %}

{% load static %}

{% block content %}
<section class="banner-section">
    <div class="nve-banner">
        <div class="container">
            <div class="banner-text1">
                <span>We bring all the materials</span>
                <p>within your Reach.</p>
            </div>
            <div class="banner-text2">
                <span>Lorem ipsum is placeholder text commonly used in
                    the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.</span>
            </div>
            <div class="banner-text3">
                <span class="hr-banner">
                    <hr />
                </span>
                <span>DISCOVER</span>
            </div>
            <div class="banner-text4">
                <div class="banner-text4-text">
                    <a href="#">
                        <span>Explore</span><br /><span>by category</span>
                    </a>
                </div>
                <div class="buttons">
                    <a href="#">
                        <div class="button button-banner">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="button button-banner">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card-section">
    <div class="container">
        <div class="nve-card-container">
            <div class="card-box">
                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.9999 13.3333H2.66659C2.31296 13.3333 1.97382 13.1929 1.72378 12.9428C1.47373 12.6928 1.33325 12.3536 1.33325 12V2.66666C1.33325 2.31304 1.47373 1.9739 1.72378 1.72385C1.97382 1.4738 2.31296 1.33333 2.66659 1.33333H11.9999C12.3535 1.33333 12.6927 1.4738 12.9427 1.72385C13.1928 1.9739 13.3333 2.31304 13.3333 2.66666V12C13.3333 12.3536 13.1928 12.6928 12.9427 12.9428C12.6927 13.1929 12.3535 13.3333 11.9999 13.3333Z" />
                    <path
                        d="M11.9999 30.6667H2.66659C2.31296 30.6667 1.97382 30.5262 1.72378 30.2761C1.47373 30.0261 1.33325 29.6869 1.33325 29.3333V20C1.33325 19.6464 1.47373 19.3072 1.72378 19.0572C1.97382 18.8071 2.31296 18.6667 2.66659 18.6667H11.9999C12.3535 18.6667 12.6927 18.8071 12.9427 19.0572C13.1928 19.3072 13.3333 19.6464 13.3333 20V29.3333C13.3333 29.6869 13.1928 30.0261 12.9427 30.2761C12.6927 30.5262 12.3535 30.6667 11.9999 30.6667Z" />
                    <path d="M17.3333 2.66666H30.6666V5.33332H17.3333V2.66666Z" />
                    <path d="M30.6666 20H17.3333V22.6667H30.6666V20Z" />
                    <path d="M30.6666 26.6667H17.3333V29.3333H30.6666V26.6667Z" />
                    <path d="M30.6666 9.33333H17.3333V12H30.6666V9.33333Z" />
                </svg>
                <a href="#" class="card-heading">Lok Sewa</a>
            </div>
            <div class="card-box">
                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.9999 13.3333H2.66659C2.31296 13.3333 1.97382 13.1929 1.72378 12.9428C1.47373 12.6928 1.33325 12.3536 1.33325 12V2.66666C1.33325 2.31304 1.47373 1.9739 1.72378 1.72385C1.97382 1.4738 2.31296 1.33333 2.66659 1.33333H11.9999C12.3535 1.33333 12.6927 1.4738 12.9427 1.72385C13.1928 1.9739 13.3333 2.31304 13.3333 2.66666V12C13.3333 12.3536 13.1928 12.6928 12.9427 12.9428C12.6927 13.1929 12.3535 13.3333 11.9999 13.3333Z" />
                    <path
                        d="M11.9999 30.6667H2.66659C2.31296 30.6667 1.97382 30.5262 1.72378 30.2761C1.47373 30.0261 1.33325 29.6869 1.33325 29.3333V20C1.33325 19.6464 1.47373 19.3072 1.72378 19.0572C1.97382 18.8071 2.31296 18.6667 2.66659 18.6667H11.9999C12.3535 18.6667 12.6927 18.8071 12.9427 19.0572C13.1928 19.3072 13.3333 19.6464 13.3333 20V29.3333C13.3333 29.6869 13.1928 30.0261 12.9427 30.2761C12.6927 30.5262 12.3535 30.6667 11.9999 30.6667Z" />
                    <path d="M17.3333 2.66666H30.6666V5.33332H17.3333V2.66666Z" />
                    <path d="M30.6666 20H17.3333V22.6667H30.6666V20Z" />
                    <path d="M30.6666 26.6667H17.3333V29.3333H30.6666V26.6667Z" />
                    <path d="M30.6666 9.33333H17.3333V12H30.6666V9.33333Z" />
                </svg>
                <a href="#" class="card-heading">Semester Notes</a>
            </div>
            <div class="card-box">
                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.9999 13.3333H2.66659C2.31296 13.3333 1.97382 13.1929 1.72378 12.9428C1.47373 12.6928 1.33325 12.3536 1.33325 12V2.66666C1.33325 2.31304 1.47373 1.9739 1.72378 1.72385C1.97382 1.4738 2.31296 1.33333 2.66659 1.33333H11.9999C12.3535 1.33333 12.6927 1.4738 12.9427 1.72385C13.1928 1.9739 13.3333 2.31304 13.3333 2.66666V12C13.3333 12.3536 13.1928 12.6928 12.9427 12.9428C12.6927 13.1929 12.3535 13.3333 11.9999 13.3333Z" />
                    <path
                        d="M11.9999 30.6667H2.66659C2.31296 30.6667 1.97382 30.5262 1.72378 30.2761C1.47373 30.0261 1.33325 29.6869 1.33325 29.3333V20C1.33325 19.6464 1.47373 19.3072 1.72378 19.0572C1.97382 18.8071 2.31296 18.6667 2.66659 18.6667H11.9999C12.3535 18.6667 12.6927 18.8071 12.9427 19.0572C13.1928 19.3072 13.3333 19.6464 13.3333 20V29.3333C13.3333 29.6869 13.1928 30.0261 12.9427 30.2761C12.6927 30.5262 12.3535 30.6667 11.9999 30.6667Z" />
                    <path d="M17.3333 2.66666H30.6666V5.33332H17.3333V2.66666Z" />
                    <path d="M30.6666 20H17.3333V22.6667H30.6666V20Z" />
                    <path d="M30.6666 26.6667H17.3333V29.3333H30.6666V26.6667Z" />
                    <path d="M30.6666 9.33333H17.3333V12H30.6666V9.33333Z" />
                </svg>
                <a href="#" class="card-heading">Semester Notes</a>
            </div>
            <div class="card-box">
                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.9999 13.3333H2.66659C2.31296 13.3333 1.97382 13.1929 1.72378 12.9428C1.47373 12.6928 1.33325 12.3536 1.33325 12V2.66666C1.33325 2.31304 1.47373 1.9739 1.72378 1.72385C1.97382 1.4738 2.31296 1.33333 2.66659 1.33333H11.9999C12.3535 1.33333 12.6927 1.4738 12.9427 1.72385C13.1928 1.9739 13.3333 2.31304 13.3333 2.66666V12C13.3333 12.3536 13.1928 12.6928 12.9427 12.9428C12.6927 13.1929 12.3535 13.3333 11.9999 13.3333Z" />
                    <path
                        d="M11.9999 30.6667H2.66659C2.31296 30.6667 1.97382 30.5262 1.72378 30.2761C1.47373 30.0261 1.33325 29.6869 1.33325 29.3333V20C1.33325 19.6464 1.47373 19.3072 1.72378 19.0572C1.97382 18.8071 2.31296 18.6667 2.66659 18.6667H11.9999C12.3535 18.6667 12.6927 18.8071 12.9427 19.0572C13.1928 19.3072 13.3333 19.6464 13.3333 20V29.3333C13.3333 29.6869 13.1928 30.0261 12.9427 30.2761C12.6927 30.5262 12.3535 30.6667 11.9999 30.6667Z" />
                    <path d="M17.3333 2.66666H30.6666V5.33332H17.3333V2.66666Z" />
                    <path d="M30.6666 20H17.3333V22.6667H30.6666V20Z" />
                    <path d="M30.6666 26.6667H17.3333V29.3333H30.6666V26.6667Z" />
                    <path d="M30.6666 9.33333H17.3333V12H30.6666V9.33333Z" />
                </svg>
                <a href="#" class="card-heading">Semester Notes</a>
            </div>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="container">
        <div class="blog-head">
            <h2>Recent Post</h2>
        </div>
        <div class="blogs-container">
            {% for blog_post_data in blog_post_object_list1 %}
            <div class="blog-item">
                <div class="recent-item-img">
                    {% if blog_post_data.feature_image %}
                    <img src="{{ blog_post_data.feature_image.url }}" alt="Image-here" />
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                </div>
                <div class="item-text flex-column">
                    <div class="category">
                        <a class="tech" href="#"> {{blog_post_data.post_category}} </a>
                    </div>
                    <div class="item-detail-top">
                        <a href="{% url 'post_content_view' slug=blog_post_data.uuid %}" class="post_obj"
                            post_id="{{blog_post_data.uuid}}">
                            <span>{{blog_post_data.title}}</span></a>
                    </div>
                    <div class="item-detail-bottom">
                        <span>{{blog_post_data.short_description}}</span>
                    </div>
                    <div class="item-text-footer">
                        <span>by {{blog_post_data.user.first_name}}</span>
                        <span>{{blog_post_data.updated_at}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            {% if ads_object_list %}
            <div class="first-ads-item">
                <div class="first-ads-item-img ads-item">
                    {% for ads_object_data in ads_object_list %}
                    {% if ads_object_data.position == '1' %}

                    {% if ads_object_data.image %}
                    <a href="{{ads_object_data.link}}" target="_blank"><img src="{{ ads_object_data.image.url }}" alt="Image-here" /></a>
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                    
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="posts-categories">
                <div class="category-top flex-column">
                    <span>CATEGORIES</span>
                    <p>
                        All kinds of links that belongs to different
                        category
                    </p>
                </div>
                <div class="feature-post-view-more">
                    <div class="category-hr"></div>
                    <div class="featured-a-tag">
                        <a href="#">
                            <p>View More</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</section>
<section class="recent-post-bottom-with-krish-diary">
    <div class="container">
        <div class="recent-bottom--main">
            <div class="main-left">
                <div class="recent-item-container">
                    {% for blog_post_data2 in blog_post_object_list2 %}
                    <div class="recent-item">
                        <div class="big-cont-img">
                            {% if blog_post_data2.feature_image %}
                            <img src="{{ blog_post_data2.feature_image.url }}" alt="Image-here" />
                            {% else %}
                            <p>No image available</p>
                            {% endif %}
                        </div>
                        <div class="big-cont-text flex-column">
                            <div class="category">
                                <a class="tech" href="#">
                                    {{blog_post_data2.post_category}}
                                </a>
                            </div>
                            <div class="item-detail-top">
                                <a href="{% url 'post_content_view' slug=blog_post_data2.uuid %}" class="post_obj"
                                    post_id="{{blog_post_data2.uuid}}">
                                    <span>{{blog_post_data2.title}}</span></a>
                            </div>
                            <div class="item-detail-bottom">
                                <span>{{blog_post_data2.short_description}}</span>
                            </div>
                            <div class="item-text-footer">
                                <span>by {{blog_post_data2.user.first_name}}</span>
                                <span>{{blog_post_data2.updated_at}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="krishi-diary">
                <div class="nve-krishi-diary-head">
                    <span>Krishi Diary</span>
                </div>
                <div class="krishi-diary-main">
                    {% for diary_data in krishi_diary_details %}
                    <div class="nve-krishi-diary-item">
                        <div class="diary-item-dot">
                            <span class="dot"></span>
                        </div>
                        <div class="diary-item-middle-text">
                            <div class="diary-item-middle-text-content">
                                <span>{{diary_data.name}}</span>
                            </div>
                        </div>
                        <div class="diary-item-view-more">
                            <a href="{% url 'krishi_diarys_content_view' id=diary_data.id %}">
                                <p>View Now</p>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="second-ads-item">
                    <div class="second-ads-item-img ads-item">
                        {% for ads_object_data in ads_object_list %}
                        {% if ads_object_data.position == '2' %}
                        
                        {% if ads_object_data.image %}
                        <a href="{{ads_object_data.link}}" target="_blank"><img src="{{ ads_object_data.image.url }}" alt="Image-here" /></a>
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                        
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>    
                
                <div class="diary-item-view-more-bottom">
                    <a href="{% url 'krishi_diarys' %}">
                        <p>View More</p>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-post-blocks">
    <div class="container">
        <div class="blog-head">
            <h2>Featured Post</h2>
        </div>
        {% if feature_post_object_list %}
        {% for feature_post_data in feature_post_object_list %}
        {% if feature_post_data.position == '1' %}
        <div class="featured-post-top flex-column">
            
            <div class="featured-post-top-upper">
                <div class="title-spaced-letter">
                    <span>{{ feature_post_data.post.post_category}}</span>
                </div>
            </div>
            <div class="featured-post-top-lower">
                <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                    <h2>
                        {{ feature_post_data.post.title}}
                    </h2>
                </a>
                <p>
                    {{feature_post_data.post.short_description}}
                </p>
            </div>
            
        </div>
        {% endif %}
        {% endfor %}
        
        <div class="featured-post-bottom">
            {% for feature_post_data in feature_post_object_list %}
            {% if feature_post_data.position == '2' %}
            <div class="featured-post-bottom-1st featured-post">
                <div class="featured-post-bottom-1st-content flex-column">
                    <div class="title-spaced-letter">
                        <span>{{ feature_post_data.post.post_category}}</span>
                    </div>
                    <div class="featured-post-bottom-1st-lower featured-hide-text-responsive">
                        <span class="featured-post-text">{{feature_post_data.post.title}}</span>
                    </div>
                </div>
                <div class="feature-post-view-more">
                    <div class="category-hr"></div>
                    <div class="featured-a-tag">
                        <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                            <p>View More</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="featured-post-bottom-2nd">
                {% for feature_post_data in feature_post_object_list %}
                {% if feature_post_data.position == '3' %}
                <div class="featured-post featured-post-bottom-2nd-top">
                    <div class="featured-post-bottom-2nd-top-text flex-column">
                        <div class="title-spaced-letter">
                            <span>{{ feature_post_data.post.post_category}}</span>
                        </div>
                        <div class="featured-post-bottom-2nd-top-text-2 featured-hide-text-responsive">
                            <span class="featured-post-text">{{feature_post_data.post.title}}</span>
                        </div>
                    </div>
                    <div class="feature-post-view-more">
                        <div class="category-hr"></div>
                        <div class="featured-a-tag">
                            <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                                <p>View More</p>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% for feature_post_data in feature_post_object_list %}
                {% if feature_post_data.position == '4' %}
                <div class="featured-post featured-post-bottom-2nd-lower">
                    <div class="featured-post-bottom-3rd-top-content flex-column">
                        <div class="title-spaced-letter">
                            <span>{{ feature_post_data.post.post_category}}</span>
                        </div>
                        <div class="featured-post-bottom-2nd-bottom-text2 featured-hide-text">
                            <span class="featured-post-text">{{feature_post_data.post.title}}</span>
                        </div>
                    </div>
                    <div class="feature-post-view-more">
                        <div class="category-hr"></div>
                        <div class="featured-a-tag">
                            <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                                <p>View More</p>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="featured-post-bottom-3rd">
                {% for feature_post_data in feature_post_object_list %}
                {% if feature_post_data.position == '5' %}
                <div class="featured-post featured-post-bottom-3rd-top">
                    <div class="featured-post-bottom-3rd-top-content flex-column">
                        <div class="title-spaced-letter">
                            <span>{{ feature_post_data.post.post_category}}</span>
                        </div>
                        <div class="featured-post-bottom-3rd-top-text2 featured-hide-text">
                            <span class="featured-post-text">{{feature_post_data.post.title}}</span>
                        </div>
                    </div>
                    <div class="feature-post-view-more">
                        <div class="category-hr"></div>
                        <div class="featured-a-tag">
                            <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                                <p>View More</p>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="featured-post-bottom-3rd-bottom">
                    {% for feature_post_data in feature_post_object_list %}

                    {% if feature_post_data.position == '6' %}
                    <div class="featured-post-bottom-3rd-bottom-item">
                        <div class="featured-post-bottom-3rd-bottom-item-image">
                            <img src="{{ feature_post_data.post.feature_image.url }}" alt="Image-Here" />
                        </div>
                        <div class="featured-post-bottom-3rd-bottom-item-text">
                            <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                                <span class="featured-post-text">{{feature_post_data.post.title}}</span></a>
                        </div>
                    </div>
                    {% endif %}

                    {% if feature_post_data.position == '7' %}
                    <div class="featured-post-bottom-3rd-bottom-item">
                        <div class="featured-post-bottom-3rd-bottom-item-image">
                            <img src="{{ feature_post_data.post.feature_image.url }}" alt="Image-Here" />
                        </div>
                        <div class="featured-post-bottom-3rd-bottom-item-text">
                            <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                                <span class="featured-post-text">{{feature_post_data.post.title}}</span></a>
                        </div>
                    </div>
                    {% endif %}

                    {% if feature_post_data.position == '8' %}
                    <div class="featured-post-bottom-3rd-bottom-item">
                        <div class="featured-post-bottom-3rd-bottom-item-image">
                            <img src="{{ feature_post_data.post.feature_image.url }}" alt="Image-Here" />
                        </div>
                        <div class="featured-post-bottom-3rd-bottom-item-text">
                            <a href="{% url 'post_content_view' slug=feature_post_data.post.uuid %}">
                                <span class="featured-post-text">{{feature_post_data.post.title}}</span></a>
                        </div>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<section class="recent-news-and-Categories">
    <div class="container">
        <div class="recent-news-main">
            <div class="recent-news-main-right">
                <div class="blog-head">
                    <h2>Recent News</h2>
                </div>
                <div class="recent-item-container">
                    {% for news_notice_data in news_notice_object_list %}
                    <div class="recent-item">
                        <div class="big-cont-img">
                            {% if news_notice_data.image %}
                            <img src="{{ news_notice_data.image.url }}" alt="" />
                            {% else %}
                            <p>No Image avilable</p>
                            {% endif %}
                        </div>
                        <div class="big-cont-text flex-column">
                            <div class="category">
                                <a class="tech" href="{{news_notice_data.url}}">
                                    {{news_notice_data.name}}
                                </a>
                            </div>
                            <div class="item-detail-top">
                                <a href="{{news_notice_data.url}}">
                                    <span>{{news_notice_data.title}}</span></a>
                            </div>
                            <div class="item-detail-bottom">
                                <span>{{news_notice_data.short_description}}</span>
                            </div>
                            <div class="read-more">
                                <a href="{{news_notice_data.url}}">
                                    <p>Read More</p>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span>{{news_notice_data.date}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="recent-news-main-left">
                <div class="blog-head">
                    <h2>Categoires</h2>
                </div>
                <div class="category-main">
                    <div class="category-item flex-column">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 15H4V5H20V15ZM14 18H10V17H14V18ZM22 18V3H2V18H0V20H24V18H22Z" />
                        </svg>
                        <a href="#">
                            <span>Exam Results</span>
                        </a>
                    </div>
                    <div class="category-item flex-column">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 15H4V5H20V15ZM14 18H10V17H14V18ZM22 18V3H2V18H0V20H24V18H22Z" />
                        </svg>
                        <a href="#">
                            <span>Exam Results</span>
                        </a>
                    </div>
                    <div class="category-item flex-column">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 15H4V5H20V15ZM14 18H10V17H14V18ZM22 18V3H2V18H0V20H24V18H22Z" />
                        </svg>
                        <a href="#">
                            <span>Exam Results</span>
                        </a>
                    </div>
                    <div class="third-ads-item flex-column">
                        <div class="third-ads-item-img ads-item">
                            {% for ads_object_data in ads_object_list %}
                            {% if ads_object_data.position == '3' %}

                            {% if ads_object_data.image %}
                            <a href="{{ads_object_data.link}}" target="_blank"><img src="{{ ads_object_data.image.url }}" alt="Image-here" /></a>
                            {% else %}
                            <p>No image available</p>
                            {% endif %}

                            {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}