{% extends 'base.html' %}
{% load static %}

{% block title %}
All Kinds of News/ Notices
{% endblock title %}

{% block content %}
<div class="container">
    <div class="que-coll-top News-notice-recent-post-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Useful Links</span>
                </a>
            </div>
            <div class="error-404-underline que-coll-line"></div>
            <div class="que-coll-left-container-notice">
                <div class="recent-head">
                    <span>Recent Post</span>
                </div>
                <div class="blogs-container-news">
                    <div class="blog-item">
                        <div class="recent-item-img">
                            <img
                                src="images/Dahlias.jpg"
                                alt="Image-here"
                            />
                        </div>
                        <div class="item-text flex-column">
                            <div class="category">
                                <a class="tech" href="#">
                                    Technology
                                </a>
                            </div>
                            <div class="item-detail-top">
                                <span
                                    >Car specs database with all car
                                    brands in the world</span
                                >
                            </div>
                            <div class="item-detail-bottom">
                                <span
                                    >Car specs database with all car
                                    brands in the world. Find out
                                    complete car database with
                                    specs.</span
                                >
                            </div>
                            <div class="item-text-footer">
                                <span>by Prakash Pandey</span>
                                <span>November 5, 2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="recent-item-img">
                            <img
                                src="images/OIP.jfif"
                                alt="Image-here"
                            />
                        </div>
                        <div class="item-text flex-column">
                            <div class="category">
                                <a class="popular" href="#">
                                    popular
                                </a>
                            </div>
                            <div class="item-detail-top">
                                <span
                                    >Car specs database with all car
                                    brands in the world</span
                                >
                            </div>
                            <div class="item-detail-bottom">
                                <span
                                    >Car specs database with all car
                                    brands in the world. Find out
                                    complete car database with
                                    specs.</span
                                >
                            </div>
                            <div class="item-text-footer">
                                <span>by Prakash Pandey</span>
                                <span>November 5, 2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-left responsive-margin">
                <div class="recent-item">
                    <div class="big-cont-img">
                        <img src="images/OIP.jfif" alt="" />
                    </div>
                    <div class="big-cont-text flex-column">
                        <div class="category">
                            <a class="tech" href="#">
                                Technology
                            </a>
                        </div>
                        <div class="item-detail-top">
                            <span
                                >Car specs database with all car
                                brands in the worldThe table below
                                illustrates how each container’s
                                max-width compares to the original
                                .container and .container-fluid
                                across each breakpoint.</span
                            >
                        </div>
                        <div class="item-detail-bottom">
                            <span
                                >Car specs database with all car
                                brands in the world. Find out
                                complete car database with specs.The
                                table below illustrates how each
                                container’s max-width compares to
                                the original .container and
                                .container-fluid across each
                                breakpoint.</span
                            >
                        </div>
                        <div class="read-more">
                            <a href="#">
                                <p>Read More</p>
                                <i
                                    class="fa-solid fa-angle-right"
                                ></i>
                            </a>
                            <span>November 5, 2022</span>
                        </div>
                    </div>
                </div>
                <div class="recent-item">
                    <div class="big-cont-img">
                        <img src="images/women.jpg" alt="" />
                    </div>
                    <div class="big-cont-text flex-column">
                        <div class="category">
                            <a class="tech" href="#">
                                Technology
                            </a>
                        </div>
                        <div class="item-detail-top">
                            <span
                                >Car specs database with all car
                                brands in the worldThe table below
                                illustrates how each container’s
                                max-width compares to the original
                                .container and .container-fluid
                                across each breakpoint.</span
                            >
                        </div>
                        <div class="item-detail-bottom">
                            <span
                                >Car specs database with all car
                                brands in the world. Find out
                                complete car database with specs.The
                                table below illustrates how each
                                container’s max-width compares to
                                the original .container and
                                .container-fluid across each
                                breakpoint.</span
                            >
                        </div>
                        <div class="read-more">
                            <a href="#">
                                <p>Read More</p>
                                <i
                                    class="fa-solid fa-angle-right"
                                ></i>
                            </a>
                            <span>November 5, 2022</span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#">
                        <div class="button">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="button">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="que-coll-top-right">
            <div class="join-with-us-container join-with-us-upper">
                <div class="join-with-us-container-content">
                    <div class="que-coll-top-right-head">
                        <h2>Join with us</h2>
                    </div>
                    <div class="join-with-us-item">
                        <div class="vertical-line"></div>
                        <div class="join-with-us-item-content">
                            <a href="#"
                                ><i
                                    class="fa-brands fa-facebook"
                                ></i
                                ><span>Facebook Followers</span></a
                            >
                        </div>
                    </div>
                    <div class="join-with-us-item">
                        <div class="vertical-line"></div>
                        <div class="join-with-us-item-content">
                            <a href="#"
                                ><i
                                    class="fa-brands fa-instagram"
                                ></i
                                ><span>140+ Followers</span></a
                            >
                        </div>
                    </div>
                    <div class="join-with-us-item">
                        <div class="vertical-line"></div>
                        <div class="join-with-us-item-content">
                            <a href="#"
                                ><i class="fa-brands fa-twitter"></i
                                ><span>160+ Followers</span></a
                            >
                        </div>
                    </div>
                    <div class="join-with-us-item">
                        <div class="vertical-line"></div>
                        <div class="join-with-us-item-content">
                            <a href="#"
                                ><i
                                    class="fa-brands fa-linkedin"
                                ></i
                                ><span>170+ Followers</span></a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular-posts-main-container">
                <div class="que-coll-top-right-head">
                    <h2>Popular Posts</h2>
                </div>
                <div
                    class="error-404-underline que-coll-line"
                ></div>
                <div class="que-coll-popular-post-item">
                    <div class="que-coll-popular-post-item-left">
                        <h3>
                            Public Speaking Workshop and Seminar
                        </h3>
                        <p>AUGUST 13, 2021</p>
                    </div>
                    <div class="que-coll-popular-post-item-right">
                        <a href="#"
                            ><i class="fa-solid fa-arrow-right"></i
                        ></a>
                    </div>
                </div>
                <div
                    class="error-404-underline que-coll-line"
                ></div>
                <div class="que-coll-popular-post-item">
                    <div class="que-coll-popular-post-item-left">
                        <h3>
                            Public Speaking Workshop and Seminar
                        </h3>
                        <p>AUGUST 13, 2021</p>
                    </div>
                    <div class="que-coll-popular-post-item-right">
                        <a href="#"
                            ><i class="fa-solid fa-arrow-right"></i
                        ></a>
                    </div>
                </div>
                <div
                    class="error-404-underline que-coll-line"
                ></div>
                <div class="que-coll-popular-post-item">
                    <div class="que-coll-popular-post-item-left">
                        <h3>
                            Public Speaking Workshop and Seminar
                        </h3>
                        <p>AUGUST 13, 2021</p>
                    </div>
                    <div class="que-coll-popular-post-item-right">
                        <a href="#"
                            ><i class="fa-solid fa-arrow-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>
    <div class="que-coll-bottom">
        <div class="que-coll-bottom-head">
            <span>Other Related posts</span>
        </div>
        <div class="que-coll-bottom-item">
            <div class="que-coll-bottom-item-left flex-column">
                 <div class="que-coll-bottom-item-left-top">
                    <a href="#">
                        <p>Weekly updates</p>
                    </a>
                    <span>AUGUST 13, 2021</span>
                </div>
                <a href="#"><h2>
                    10 Hilarious Cartoons That Depict Real-Life
                    Problems of Programmers
                </h2></a>
                <span class="que-coll-item-span-res"
                    >Redefined the user acquisition and redesigned
                    the onboarding experience, all within 3 working
                    weeks.</span
                >
            </div>
            <div class="que-coll-bottom-item-right">
                <img src="images/women.jpg" alt="Image-Here" />
            </div>
        </div>
        <div class="que-coll-bottom-item">
            <div class="que-coll-bottom-item-left flex-column">
                 <div class="que-coll-bottom-item-left-top">
                    <a href="#">
                        <p>Weekly updates</p>
                    </a>
                    <span>AUGUST 13, 2021</span>
                </div>
                <a href="#"><h2>
                    10 Hilarious Cartoons That Depict Real-Life
                    Problems of Programmers
                </h2></a>
                <span class="que-coll-item-span-res"
                    >Redefined the user acquisition and redesigned
                    the onboarding experience, all within 3 working
                    weeks.</span
                >
            </div>
            <div class="que-coll-bottom-item-right">
                <img src="images/women.jpg" alt="Image-Here" />
            </div>
        </div>
        <div class="que-coll-bottom-item">
            <div class="que-coll-bottom-item-left flex-column">
                 <div class="que-coll-bottom-item-left-top">
                    <a href="#">
                        <p>Weekly updates</p>
                    </a>
                    <span>AUGUST 13, 2021</span>
                </div>
                <a href="#"><h2>
                    10 Hilarious Cartoons That Depict Real-Life
                    Problems of Programmers
                </h2></a>
                <span class="que-coll-item-span-res"
                    >Redefined the user acquisition and redesigned
                    the onboarding experience, all within 3 working
                    weeks.</span
                >
            </div>
            <div class="que-coll-bottom-item-right">
                <img src="images/wishkey.png" alt="Image-Here" />
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}



