{% extends 'base.html'%}
{% load static %}

{% block pageheading %}
All Kinds of News/ Notices
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Useful Links</span>
                </a>
            </div>
            <div class="error-404-underline que-coll-line"></div>
            <div class="que-coll-left-container-notice">
                <div class="recent-head">
                    <span>Recent Post</span>
                </div>
                <div class="blogs-container-news">
                    <div class="blog-item">
                        <div class="recent-item-img">
                            <img src="{% static '/images/wishkey.png' %}" alt="Image-here" />
                        </div>
                        <div class="item-text flex-column">
                            <div class="category">
                                <a class="tech" href="#">
                                    Technology
                                </a>
                            </div>
                            <div class="item-detail-top">
                                <span
                                    >Car specs database with all car
                                    brands in the world</span
                                >
                            </div>
                            <div class="item-detail-bottom">
                                <span
                                    >Car specs database with all car
                                    brands in the world. Find out
                                    complete car database with
                                    specs.</span
                                >
                            </div>
                            <div class="item-text-footer">
                                <span>by Prakash Pandey</span>
                                <span>November 5, 2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="recent-item-img">
                            <img src="{% static '/images/wishkey.png' %}" alt="Image-here" />
                        </div>
                        <div class="item-text flex-column">
                            <div class="category">
                                <a class="popular" href="#">
                                    popular
                                </a>
                            </div>
                            <div class="item-detail-top">
                                <span
                                    >Car specs database with all car
                                    brands in the world</span
                                >
                            </div>
                            <div class="item-detail-bottom">
                                <span
                                    >Car specs database with all car
                                    brands in the world. Find out
                                    complete car database with
                                    specs.</span
                                >
                            </div>
                            <div class="item-text-footer">
                                <span>by Prakash Pandey</span>
                                <span>November 5, 2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-left responsive-margin">
                <div class="recent-item">
                    <div class="big-cont-img">
                        <img src="{% static '/images/OIP.jfif' %}" alt="Image-here" />
                    </div>
                    <div class="big-cont-text flex-column">
                        <div class="category">
                            <a class="tech" href="#">
                                Technology
                            </a>
                        </div>
                        <div class="item-detail-top">
                            <span
                                >Car specs database with all car
                                brands in the worldThe table below
                                illustrates how each container’s
                                max-width compares to the original
                                .container and .container-fluid
                                across each breakpoint.</span
                            >
                        </div>
                        <div class="item-detail-bottom">
                            <span
                                >Car specs database with all car
                                brands in the world. Find out
                                complete car database with specs.The
                                table below illustrates how each
                                container’s max-width compares to
                                the original .container and
                                .container-fluid across each
                                breakpoint.</span
                            >
                        </div>
                        <div class="read-more">
                            <a href="#">
                                <p>Read More</p>
                                <i
                                    class="fa-solid fa-angle-right"
                                ></i>
                            </a>
                            <span>November 5, 2022</span>
                        </div>
                    </div>
                </div>
                <div class="recent-item">
                    <div class="big-cont-img">
                        <img src="{% static '/images/OIP.jfif' %}" alt="Image-here" />
                    </div>
                    <div class="big-cont-text flex-column">
                        <div class="category">
                            <a class="tech" href="#">
                                Technology
                            </a>
                        </div>
                        <div class="item-detail-top">
                            <span
                                >Car specs database with all car
                                brands in the worldThe table below
                                illustrates how each container’s
                                max-width compares to the original
                                .container and .container-fluid
                                across each breakpoint.</span
                            >
                        </div>
                        <div class="item-detail-bottom">
                            <span
                                >Car specs database with all car
                                brands in the world. Find out
                                complete car database with specs.The
                                table below illustrates how each
                                container’s max-width compares to
                                the original .container and
                                .container-fluid across each
                                breakpoint.</span
                            >
                        </div>
                        <div class="read-more">
                            <a href="#">
                                <p>Read More</p>
                                <i
                                    class="fa-solid fa-angle-right"
                                ></i>
                            </a>
                            <span>November 5, 2022</span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#">
                        <div class="button">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="button">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="que-coll-top-right">
            {% include 'snippet_code/popular_post.html' %}

            {% include 'snippet_code/join_with_us.html' %}
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>

    {% include 'snippet_code/other_related_post.html' %}
</div>
{% endblock content %}



