{% extends 'base.html'%}

{% load static %}

{% block pageheading %}
All Kinds of News/ Notices
{% endblock pageheading %}

{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Useful Links</span>
                </a>
            </div>
            <div class="error-404-underline que-coll-line"></div>

            <div class="main-left responsive-margin">
                {% if news_notice_page_obj %}
                {% for news_notice_data in news_notice_page_obj %}
                <div class="recent-item">
                    <div class="big-cont-img">
                        {% if news_notice_data.image %}
                        <img src="{{ news_notice_data.image.url }}" alt="Image-here" />
                        % else %
                        <p>No image available</p>
                        {% endif %}
                    </div>
                    <div class="big-cont-text flex-column">
                        <div class="category">
                            <a class="tech" href="#">
                                {{news_notice_data.name}}
                            </a>
                        </div>
                        <div class="item-detail-top">
                            <a href="{{news_notice_data.url}}">
                            <span>{{news_notice_data.title}}</span></a>
                        </div>
                        <div class="item-detail-bottom">
                            <span>{{news_notice_data.short_description}}</span>
                        </div>
                        <div class="read-more">
                            <a href="{{news_notice_data.url}}">
                                <p>Read More</p>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <span>{{news_notice_data.date}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1>No Data Found!</h1>
                {% endif %}

                {% if news_notice_page_obj and news_notice_object_list|length > news_notice_items_per_page %}
                <div class="buttons">
                    {% if news_notice_page_obj.has_previous %}
                    <a href="?page={{ news_notice_page_obj.previous_page_number }}">
                        <div class="button">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                    </a>
                    {% else %}
                    <a disabled>
                        <div class="button">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                    </a>
                    {% endif %}
                    
                    {% if news_notice_page_obj.has_next %}
                    <a href="?page={{ news_notice_page_obj.next_page_number }}">
                        <div class="button">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </a>
                    {% else %}
                    <a disabled>
                        <div class="button">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </a>
                    {% endif %}
                    <span>Page : {{ news_notice_page_obj.number }} of {{ news_notice_page_obj.paginator.num_pages }}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="que-coll-top-right">
            {% include 'snippet_code/popular_post.html' %}

            {% include 'snippet_code/join_with_us.html' %}
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>

    {% include 'snippet_code/other_related_post.html' %}
</div>
    {% endblock content %}