{% extends 'base.html'%}

{% load pagination_tags %}

{% load static %}

{% block pageheading %}
Useful Links
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Useful Links</span>
                </a>
            </div>
            <div class="error-404-underline que-coll-line"></div>
            <div class="que-coll-left-container">
                {% if useful_links_page_obj %}
                {% for useful_links_data in useful_links_page_obj %}
                <div class="que-coll-left-item">
                    <div class="que-coll-left-item-content">
                        <div class="que-coll-item-left">
                            <span>{{useful_links_data.name}}</span>
                        </div>
                        <div class="que-coll-view-more">
                            <a href="{{useful_links_data.url}}" target="_blank">
                                <p>Visit Now</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1>No Data Found!</h1>
                {% endif %}
            </div>

            {% if useful_links_page_obj and useful_links_data_list|length > items_per_page %}
            <div class="buttons">
                {% if useful_links_page_obj.has_previous %}
                <a href="?page={{ useful_links_page_obj.previous_page_number }}">
                    <div class="button">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                </a>
                {% else %}
                <a disabled>
                    <div class="button">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                </a>
                {% endif %}


                {% if useful_links_page_obj.has_next %}
                <a href="?page={{ useful_links_page_obj.next_page_number }}">
                    <div class="button">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </a>
                {% else %}
                <a disabled>
                    <div class="button">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </a>
                {% endif %}
                <span>Page : {{ useful_links_page_obj.number }} of
                    {{ useful_links_page_obj.paginator.num_pages }}</span>
            </div>
            {% endif %}
        </div>
        <div class="que-coll-top-right">
            {% include 'snippet_code/popular_post.html' %}

            {% include 'snippet_code/join_with_us.html' %}
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>

    {% include 'snippet_code/other_related_post.html' %}
</div>
{% endblock content %}