{% extends 'base_home.html' %}

{% block content %}


<section class="user_section">
    <div class="user_container">
        <div class="top_cont">
            <h1>Change Password</h1>
            <p>A strong password for secure transacation</p>
        </div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for messaage in messages %}
            <span class="error" id="login_error" style="color: red;">{{messaage}}</span>
            {% endfor %}
            {% endif %}
            <div class="input_container">
                <label for="password">
                    Old Password
                </label>
                <div class="input_box">
                    <i class="left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 20" fill="none">
                            <path
                                d="M14.25 8.25H3.75C2.92157 8.25 2.25 8.92157 2.25 9.75V15C2.25 15.8284 2.92157 16.5 3.75 16.5H14.25C15.0784 16.5 15.75 15.8284 15.75 15V9.75C15.75 8.92157 15.0784 8.25 14.25 8.25Z"
                                stroke="#232E52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M5.25 8.25V5.25C5.25 4.25544 5.64509 3.30161 6.34835 2.59835C7.05161 1.89509 8.00544 1.5 9 1.5C9.99456 1.5 10.9484 1.89509 11.6517 2.59835C12.3549 3.30161 12.75 4.25544 12.75 5.25V8.25"
                                stroke="#232E52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                    <input type="password" name="old_password" id="old_password" placeholder="Enter your old password"
                        onkeyup="checkPassword()" />
                    <i class="fa fa-eye-slash right" onclick="toggleOldIconHandler()" id="showoldPassword"></i>
                </div>
            </div>
            <div class="input_container">
                <label for="password">
                    Password
                </label>
                <div class="input_box">
                    <i class="left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 20" fill="none">
                            <path
                                d="M14.25 8.25H3.75C2.92157 8.25 2.25 8.92157 2.25 9.75V15C2.25 15.8284 2.92157 16.5 3.75 16.5H14.25C15.0784 16.5 15.75 15.8284 15.75 15V9.75C15.75 8.92157 15.0784 8.25 14.25 8.25Z"
                                stroke="#232E52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M5.25 8.25V5.25C5.25 4.25544 5.64509 3.30161 6.34835 2.59835C7.05161 1.89509 8.00544 1.5 9 1.5C9.99456 1.5 10.9484 1.89509 11.6517 2.59835C12.3549 3.30161 12.75 4.25544 12.75 5.25V8.25"
                                stroke="#232E52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                    <input type="password" name="password" id="password" placeholder="Enter your password"
                        onkeyup="checkPassword()" />
                    <i class="fa fa-eye-slash right" onclick="toggleIconHandler()" id="showPassword"></i>
                </div>
            </div>
            <div class="input_container">
                <label for="confirm_password">
                    Re-Type Password
                </label>
                <div class="input_box">
                    <i class="left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 20" fill="none">
                            <path
                                d="M14.25 8.25H3.75C2.92157 8.25 2.25 8.92157 2.25 9.75V15C2.25 15.8284 2.92157 16.5 3.75 16.5H14.25C15.0784 16.5 15.75 15.8284 15.75 15V9.75C15.75 8.92157 15.0784 8.25 14.25 8.25Z"
                                stroke="#232E52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M5.25 8.25V5.25C5.25 4.25544 5.64509 3.30161 6.34835 2.59835C7.05161 1.89509 8.00544 1.5 9 1.5C9.99456 1.5 10.9484 1.89509 11.6517 2.59835C12.3549 3.30161 12.75 4.25544 12.75 5.25V8.25"
                                stroke="#232E52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                    <input type="password" name="confirm_password" id="confirm_password"
                        placeholder="Confirm your password" onkeyup="checkPassword()" />
                    <i class="fa fa-eye-slash right" onclick="toggleConfirmIconHandler()" id="showConfirmPassword"></i>
                </div>
                <p class="p_tag">Your password must be 8 characters long </p>
            </div>

            <div class="remember_container">
                <div class="remember_innerContainer">

                    <input type="checkbox" id='customCheckbox' onclick="toggleCheckbox()"></input>
                    <label for="customCheckbox">By creating an account means you agree to the <b>Terms &
                            Conditions</b> and our <b>Privacy Policy</b></label>
                </div>
            </div>

            <button class="sign_btn">Update Password</button>
        </form>
    </div>
</section>
<script>
    const oldpasswordInput = document.getElementById('old_password');
    const showoldPassword = document.getElementById('showoldPassword');

    function toggleOldIconHandler() {
        if (oldpasswordInput.type === 'password') {
            oldpasswordInput.type = 'text';
            showoldPassword.classList.remove("fa-eye-slash")
            showoldPassword.classList.add("fa-eye")
        } else {
            oldpasswordInput.type = 'password';
            showoldPassword.classList.remove("fa-eye");
            showoldPassword.classList.add("fa-eye-slash");

        }
    };

    const passwordInput = document.getElementById('password');
    const showPassword = document.getElementById('showPassword');

    function toggleIconHandler() {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPassword.classList.remove("fa-eye-slash")
            showPassword.classList.add("fa-eye")
        } else {
            passwordInput.type = 'password';
            showPassword.classList.remove("fa-eye");
            showPassword.classList.add("fa-eye-slash");

        }
    };

    const confirmpasswordInput = document.getElementById('confirm_password');
    const showconfirmPassword = document.getElementById('showConfirmPassword');

    function toggleConfirmIconHandler() {
        if (confirmpasswordInput.type === 'password') {
            confirmpasswordInput.type = 'text';
            showconfirmPassword.classList.remove("fa-eye-slash")
            showconfirmPassword.classList.add("fa-eye")
        } else {
            confirmpasswordInput.type = 'password';
            showconfirmPassword.classList.remove("fa-eye");
            showconfirmPassword.classList.add("fa-eye-slash");

        }
    };


    //mailvalidation 
    function validateEmail() {
        const emailInput = document.getElementById('email');
        const email = emailInput.value;


        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;


        const isValidEmail = emailRegex.test(email);

        if (isValidEmail) {
            img_container.classList.remove('fa-circle-xmark')
            img_container.classList.add('fa-circle-check')


        } else {
            img_container.classList.remove('fa-circle-check')
            img_container.classList.add('fa-circle-xmark')
        }

        emailInput.style.borderColor = isValidEmail ? 'green' : 'red';
    }

    //passowrd checking 
    const password = document.getElementById('password');
    const confirm_password = document.getElementById('confirm_password')

    function checkPassword() {
        const passwordValue = password.value
        const confirmValue = confirm_password.value
        console.log(passwordValue)
        console.log(confirmValue)

        if (passwordValue == confirmValue) {
            password.style.borderColor = 'green';
            confirm_password.style.borderColor = 'green'

        }
        else {
            password.style.borderColor = 'red';
            confirm_password.style.borderColor = 'red'

        }

    }
    //file Reader
    var inputs = document.querySelectorAll('.file-input')

    for (var i = 0, len = inputs.length; i < len; i++) {
        customInput(inputs[i])
    }

    function customInput(el) {
        const fileInput = el.querySelector('[type="file"]')
        const label = el.querySelector('[data-js-label]')

        fileInput.onchange =
            fileInput.onmouseout = function () {
                if (!fileInput.value) return

                var value = fileInput.value.replace(/^.*[\\\/]/, '')
                el.className += ' -chosen'
                label.innerText = value
            }
    }


</script>

{% endblock content %}