<div class="join-with-us-container">
    <div class="join-with-us-container-content">
        <div class="que-coll-top-right-head">
            <h2>Join with us</h2>
        </div>
        <div class="join-with-us-item">
            <div class="vertical-line"></div>
            <div class="join-with-us-item-content">
                <a href="#"><i class="fa-brands fa-facebook"></i><span>Facebook Followers</span></a>
            </div>
        </div>
        <div class="join-with-us-item">
            <div class="vertical-line"></div>
            <div class="join-with-us-item-content">
                <a href="#"><i class="fa-brands fa-instagram"></i><span>140+ Followers</span></a>
            </div>
        </div>
        <div class="join-with-us-item">
            <div class="vertical-line"></div>
            <div class="join-with-us-item-content">
                <a href="#"><i class="fa-brands fa-twitter"></i><span>160+ Followers</span></a>
            </div>
        </div>
        <div class="join-with-us-item">
            <div class="vertical-line"></div>
            <div class="join-with-us-item-content">
                <a href="#"><i class="fa-brands fa-linkedin"></i><span>170+ Followers</span></a>
            </div>
        </div>
    </div>
</div>