{% load static %}
{% if '5' in ads_position_list %}
<div class="fifth-ads-item">
    <div class="fifth-ads-item-img">
        {% for ads_object_data in ads_object_list %}
        {% if ads_object_data.position == '5' %}
        
        {% if ads_object_data.image %}
        <a href="{{ads_object_data.link}}" target="_blank"><img src="{{ ads_object_data.image.url }}" alt="Image-here" /></a>
        {% else %}
        <p>No image available</p>
        {% endif %}
        
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="que-coll-bottom">
    <div class="que-coll-bottom-head">
        <span>Other Related posts</span>
    </div>
    {% for other_related_post_data in other_related_post %}
    <div class="que-coll-bottom-item">
        <div class="que-coll-bottom-item-left flex-column">
            <div class="que-coll-bottom-item-left-top">
                <a href="#">
                    <p>Weekly updates</p>
                </a>
                <span>{{other_related_post_data.created_at|date:"M d, Y"}}</span>
            </div>
            <a href="{% url 'post_content_view' slug=other_related_post_data.uuid %}"><h2>
                {{other_related_post_data.title}}
            </h2></a>
            <span class="que-coll-item-span-res"
                >{{other_related_post_data.short_description}}</span
            >
        </div>
        <div class="que-coll-bottom-item-right">
            <img src="{{ other_related_post_data.feature_image.url }}" alt="Image-here" />
        </div>
    </div>
    {% endfor %}
</div>
