<div class="popular-posts-main-container">
    <div class="que-coll-top-right-head">
        <h2>Popular Posts</h2>
    </div>
    <div class="error-404-underline que-coll-line"></div>
    {% for popular_post_data in popular_post %}
    <div class="que-coll-popular-post-item">
        <div class="que-coll-popular-post-item-left">
            <h3>
                {{popular_post_data.post.title}}
            </h3>
            <p>{{popular_post_data.post.created_at|date:"M d, Y"}}</p>
        </div>
        <div class="que-coll-popular-post-item-right">
            <a href="{% url 'post_content_view' slug=popular_post_data.post.uuid %}"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>
    {% endfor %}
    
    {% if '6' in ads_position_list %}
    <div class="sixth-ads-item ">
        <div class="sixth-ads-item-img">
            {% for ads_object_data in ads_object_list %}
            {% if ads_object_data.position == '6' %}
            
            {% if ads_object_data.image %}
            <a href="{{ads_object_data.link}}" target="_blank"><img src="{{ ads_object_data.image.url }}" alt="Image-here" /></a>
            {% else %}
            <p>No image available</p>
            {% endif %}
            
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
</div>

