{% extends 'base.html'%}

{% block pageheading %}
Post Detail Page
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-left-container">
            {% if post_content_object %}
            <div class="post-display-details">
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Post Likes</span>
                    </div>
                    <div class="post-display-item-right">
                        <span id="like_count">{{post_like_count}}</span>
                    </div>
                </div>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Post Category</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.post_category}}</span>
                    </div>
                </div>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Title</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.title}}</span>
                    </div>
                </div>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Posted by</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.user.first_name}}</span>
                    </div>
                </div>
                <div class="post-display-image">
                    {% if post_content_object.feature_image %}
                    <img src="{{ post_content_object.feature_image.url }}" alt="Image-Here" />
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                </div>
                <br>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Short Description</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.short_description}}</span>
                    </div>
                </div>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Description</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.description}}</span>
                    </div>
                </div>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Created at</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.created_at}}</span>
                    </div>
                </div>
                <div class="post-display-item">
                    <div class="post-display-item-left">
                        <span>Updated at</span>
                    </div>
                    <div class="post-display-item-right">
                        <span>{{post_content_object.updated_at}}</span>
                    </div>
                </div>
                <div id="likeBtns">
                    {% if user_post_like %}
                    {% if user_post_like_obj %}
                    <button id="dislikeBtn" type="submit"
                        onclick="dislikeBtn('{{ user_post_like_obj.id }}')">Dislike</button>
                    {% endif %}
                    {% else %}
                    <button id="likeBtn" type="submit" onclick="likeBtn()">Like</button>
                    {% endif %}
                </div>
            </div>
            <div class="error-404-underline que-coll-line"></div>
            {% endif %}
            
            <div id="forms" class="post-display-item-left">
                {% if post_content_object %}
                <h2>Leave a Reply</h2>
                <br>
                <form id="comment_form">
                    {% csrf_token %}
                    <textarea name="comment" placeholder="Type your comment" id="comment"
                        style="width: 300px; height: 150px;" required></textarea>
                    <!-- Add a hidden input field for the post_content_object UUID -->
                    <input type="hidden" id="uuid" name="post_content_object_uuid"
                        value="{{ post_content_object.uuid }}"><br><br>
                    <button type="submit">Post Comment</button>
                </form>
                {% endif %}
            </div>
            <br>
            <div class="error-404-underline que-coll-line"></div>
            <div id="comment_section">
                {% for post_comment_data in posted_comment_object_list %}
                <div>
                    <h4>{{post_comment_data.user.first_name}}</h4>
                    <h6>{{post_comment_data.date}}</h6>
                    <h5>{{post_comment_data.comment}}</h5>
                    {% if post_comment_data.user == request.user %}
                    <button id="editCommentBtn" onclick="editCommentBtn('{{ post_comment_data.id }}')">Edit</button>
                    <button onclick="deleteCommentBtn('{{ post_comment_data.id }}')">Delete</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div id="load_comment">
                {% if post_content_object %}
                {% if posted_comment_list|length > 4 %}
                <button id="load_more_comments" onclick="loadMoreComment()">Load more comments</button>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'snippet_code/snippet_iframe_pdf_view_js.html' %}

<script>
    //this is for comment post
    $(document).ready(function () {
        function prependComment(commentData, logged_in_user) {

            var comment = commentData[0];
            
            var div = document.createElement("div");
            div.className = "comment";

            var h4User = document.createElement("h4");
            h4User.textContent = comment.user;

            var h6Date = document.createElement("h6");
            h6Date.textContent = comment.date;

            var h5Comment = document.createElement("h5");
            h5Comment.textContent = comment.comment;

            div.appendChild(h4User);
            div.appendChild(h6Date);
            div.appendChild(h5Comment);


            if (comment.username === logged_in_user) {
                console.log("Adding button here, ______________")

                var editButton = document.createElement("button");

                editButton.id = "editCommentbtn";

                editButton.textContent = "Edit";

                editButton.setAttribute("onclick", "editCommentBtn('" + comment.id + "')");

                var deleteButton = document.createElement("button");

                deleteButton.textContent = "Delete";

                deleteButton.setAttribute("onclick", "deleteCommentBtn('" + comment.id + "')");

                div.appendChild(editButton);

                div.appendChild(deleteButton);

            }

            if (comment.posted_comment_list.length >= 5) {

                $('#comment_section').children().last().remove();

                $('#comment_section').prepend(div);

                var loadMoreButton = document.createElement("button");

                loadMoreButton.id = "load_more_comments";

                loadMoreButton.textContent = "Load More Comments";

                loadMoreButton.onclick = loadMoreComment;

                console.log($('#load_more_comments').length, "LOAD MORE COMMENTS BUTTON")

                if ($('#load_more_comments').length === 0) {

                    $('#load_comment').append(loadMoreButton);
                }

            } else {

                $('#comment_section').prepend(div);

            }

        }

        $('#comment_form').submit(function (event) {
            event.preventDefault();
            var comment = $('#comment').val();
            var post_id = $('#uuid').val();
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
            $.ajax({
                type: 'POST',
                url: '/blog/post-comment/',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    comment: comment,
                    post_id: post_id
                },
                success: function (response) {
                    var commentData = response;
                    
                    var login_user_with_post_comment = commentData[0].login

                    if (login_user_with_post_comment === true){
                        var logged_in_user = commentData[0].logged_in_user;
                        $('#comment_form')[0].reset();

                        prependComment(commentData, logged_in_user); // Call the prependComment function here
                    }
                    else{
                        window.location.href = "{% url 'login' %}";
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });

    // to submit form by Enter key pressed
    $(document).ready(function () {
        // Add an event listener to the comment textarea
        $('#comment').keydown(function (event) {
            // Check if the Enter key was pressed (key code 13)
            if (event.keyCode === 13) {
                // Prevent the default behavior of the Enter key
                event.preventDefault();
                // Programmatically click the submit button
                $('#comment_form').submit();
            }
        });
    });

    // For Loadmorecomments
    var count = 4;  // Initial count of comments
    function loadMoreComment() {
        var post_id = $('#uuid').val();
        $.ajax({
            type: 'GET',
            url: '/blog/load-more-comment/',
            data: {
                post_id: post_id,
                count: count    // Pass the current count of comments
            },
            success: function (response) {
                var commentData = response.comments;

                // to remove the loadmorebutton, when all comments already shown
                if (commentData.length <= 3) {
                    $('#load_comment').remove();
                }

                var div = '';

                var logged_in_user = commentData[0].logged_in_user;

                for (var i = 0; i < commentData.length; i++) {

                    var comment = commentData[i];

                    var div = document.createElement("div");
                    div.className = "addedComment";

                    var h4User = document.createElement("h4");
                    h4User.textContent = comment.user;

                    var h6Date = document.createElement("h6");
                    h6Date.textContent = comment.date;

                    var h5Comment = document.createElement("h5");
                    h5Comment.textContent = comment.comment;

                    div.appendChild(h4User);
                    div.appendChild(h6Date);
                    div.appendChild(h5Comment);

                    if (comment.username === logged_in_user) {
                        var editButton = document.createElement("button");
                        editButton.id = "editCommentbtn";
                        editButton.textContent = "Edit";
                        editButton.setAttribute("onclick", "editCommentBtn('" + comment.id + "')");

                        var deleteButton = document.createElement("button");
                        deleteButton.textContent = "Delete";
                        deleteButton.setAttribute("onclick", "deleteCommentBtn('" + comment.id + "')");

                        div.appendChild(editButton);
                        div.appendChild(deleteButton);

                    }
                    $('#comment_section').append(div);
                }

                count = response.count;  // Update the count for the next request

            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    // Comment Edit Button
    function editCommentBtn(commentId) {
        var post_id = $('#uuid').val();
        $.ajax({
            type: 'GET',
            url: '/blog/edit-comment/',
            data: {
                post_id: post_id,
                commentId: commentId
            },
            success: function (response) {

                var get_comment = response.comments[0].desired_comment

                $('#comment_form').hide();

                // Create the form element
                var form = document.createElement("form");
                form.setAttribute("id", "comment_update_form");

                // Create a CSRF token input field
                var csrfInput = document.createElement("input");
                csrfInput.setAttribute("type", "hidden");
                csrfInput.setAttribute("name", "csrfmiddlewaretoken");
                csrfInput.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrfInput);

                // Create the textarea for the comment
                var textarea = document.createElement("textarea");
                textarea.setAttribute("name", "comment");
                textarea.setAttribute("placeholder", "Type your comment");
                textarea.setAttribute("id", "update_comment");
                textarea.setAttribute("style", "width: 300px; height: 150px;");
                textarea.setAttribute("required", "required");
                form.appendChild(textarea);

                // Create a hidden input field for the post_content_object UUID
                var uuidInput = document.createElement("input");
                uuidInput.setAttribute("type", "hidden");
                uuidInput.setAttribute("id", "post_uuid");
                uuidInput.setAttribute("name", "post_content_object_uuid");
                uuidInput.setAttribute("value", "{{ post_content_object.uuid }}");
                form.appendChild(uuidInput);

                // Add a line break
                var lineBreak = document.createElement("br");
                form.appendChild(lineBreak);

                // Create the submit button
                var updateBtn = document.createElement("button");
                updateBtn.setAttribute("type", "submit");
                updateBtn.setAttribute("onclick", "updateCommentBtn('" + commentId + "')")
                updateBtn.textContent = "Update Comment";
                form.appendChild(updateBtn);

                // to add the update comment form at once time
                if ($('#comment_update_form').length === 0) {
                    $('#forms').append(form);
                }

                $('textarea').val(get_comment);

                // Listen for keydown event on the textarea
                $('textarea').on('keydown', function (event) {
                    // Check if the pressed key is the enter key (key code 13)
                    if (event.keyCode === 13) {
                        // Trigger the click event of the update button
                        $(updateBtn).trigger('click');
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    // Comment Update Button
    function updateCommentBtn(commentId) {
        var post_id = $('#uuid').val();
        var update_comment = $('#update_comment').val();
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: '/blog/update-comment/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                update_comment: update_comment,
                post_id: post_id,
                commentId: commentId
            },
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    // Comment Delete Button
    function deleteCommentBtn(commentId) {
        var post_id = $('#uuid').val();
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();
        $.ajax({
            type: 'POST',
            url: '/blog/delete-comment/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                post_id: post_id,
                commentId: commentId
            },
            success: function (response) {
                console.log(response);
                if (response.message === 'Comment deleted successfully') {
                    location.reload();
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    // Post like Button
    function likeBtn() {
        var post_id = $('#uuid').val();
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: '/blog/like-btn/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                post_id: post_id
            },
            success: function (response) {

                console.log(response);
                var login_user_with_post_like = response.saved_post_like[0].login

                if (login_user_with_post_like === true){
                    var get_post_like_id = response.saved_post_like[0].post_like_id
                    var get_post_like_user = response.saved_post_like[0].post_like_user
                    var get_post_like_count = response.saved_post_like[0].post_like_count

                    $('#like_count').text(get_post_like_count);

                    $('#likeBtn').remove();

                    var dislikeBtn = document.createElement("button");
                    dislikeBtn.textContent = "Dislike";
                    dislikeBtn.id = "dislikeBtn";
                    dislikeBtn.setAttribute("onclick", "dislikeBtn(('" + get_post_like_id + "'))");
                    $('#likeBtns').append(dislikeBtn);
                }
                else{
                    window.location.href = "{% url 'login' %}";
                }

            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    //Post dislike Button
    function dislikeBtn(post_like_id) {
        var post_id = $('#uuid').val();

        var csrftoken = $('[name=csrfmiddlewaretoken]').val();
        $.ajax({
            type: 'POST',
            url: '/blog/dislike-btn/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                post_id: post_id,
                post_like_id: post_like_id
            },
            success: function (response) {
                console.log(response);
                var get_post_like_count = response.data[0].post_like_count

                $('#like_count').text(get_post_like_count);
                
                $('#dislikeBtn').remove();

                var likeBtn = document.createElement("button");
                likeBtn.textContent = "Like";
                likeBtn.id = "likeBtn";
                likeBtn.setAttribute("onclick", "likeBtn()");
                $('#likeBtns').append(likeBtn);
            },
            error: function (error) {
                console.log(error);
            }

        });
    }
</script>
{% endblock content %}