{% extends 'base.html'%}

{% block meta %}
    {% if council_act_object %}
        <!-- Meta description and keywords for SEO -->
        <meta name="description" content="{{council_act_object.seo_description}}">
        <meta name="keywords" content="{{ council_act_object.seo_keyword}}">
        <meta name="robots" content="index, follow">

        <!-- Open Graph protocol for social media previews facebook/-->
        <meta property="og:title" content="title">
        <meta property="og:description" content="description">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="image">
        
        <!-- twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
        <meta property="twitter:title" content="title">
        <meta property="twitter:image" content="image">
        <meta property="twitter:description" content="description">
    {% endif %}
{% endblock %}

{% block pageheading %}
Post- Graduate Council Act
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Useful Linkssss</span>
                </a>
            </div>
            <div class="error-404-underline que-coll-line"></div>
            <div class="que-coll-left-container">
                <div id="pdfContainer" style="position: relative; height: 100vh;" class="que-coll-top-left">
                    <button id="fullscreenButton" style="position: absolute; top: 0; right: 2px;"><i
                            class="fa-solid fa-expand"></i></button>
                    <iframe id="pdfFrame" style="border: 2px solid #232e52  "
                        src="{{council_act_object.pdf_url}}" width="100%" height="100%"
                        responsive=true></iframe>
                </div>
            </div>
        </div>
        <div class="que-coll-top-right">
            {% include 'snippet_code/popular_post.html' %}
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>

    {% include 'snippet_code/other_related_post.html' %}
</div>
{% include 'snippet_code/snippet_iframe_pdf_view_js.html' %}

{% endblock content %}