{% extends 'base.html' %}

{% block title %}
Entrance College Informations & Quotations
{% endblock title %}


{% block content %}


            <div class="container">
                <div class="que-coll-top">
                    <div class="que-coll-top-left">
                        <div class="sub-nav-top">
                            <a href="#">
                                <span>Home</span>
                            </a>
                            <i class="fa-sharp fa-solid fa-angle-right"></i>
                            <a href="#">
                                <span>Useful Links</span>
                            </a>
                        </div>
                        <div class="error-404-underline que-coll-line"></div>
                        <div class="ent-prep-left">
                            <div class="ent-prep-left-item-with-head">
                                <h2>AFU Quota</h2>
                                <div class="ent-prep-item">
                                    <div
                                        class="ent-prep-item-content flex-column"
                                    >
                                        <span
                                            >Agriculture & Forestry
                                            University</span
                                        >
                                        <div class="ent-prep-faculty">
                                            <p>Faculty : M.Sc Animal Science</p>
                                        </div>
                                    </div>
                                    <div class="ent-perp-dropdown">
                                        <table>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Questions</th>
                                                <th>Marks</th>
                                            </tr>
                                            <tr>
                                                <td>Englist</td>
                                                <td>12</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ent-prep-left-item-with-head">
                                <h2>TU Quota</h2>
                                <div class="ent-prep-item">
                                    <div
                                        class="ent-prep-item-content flex-column"
                                    >
                                        <span
                                            >Agriculture & Forestry
                                            University</span
                                        >
                                        <div class="ent-prep-faculty">
                                            <p>Faculty : M.Sc Animal Science</p>
                                        </div>
                                    </div>
                                    <div class="ent-perp-dropdown">
                                        <table>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Questions</th>
                                                <th>Marks</th>
                                            </tr>
                                            <tr>
                                                <td>Englist</td>
                                                <td>12</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Botany</td>
                                                <td>13</td>
                                                <td>15</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% include 'snippet_code/popular_post.html' %}

        {% include 'snippet_code/join_with_us.html' %}

        {% include 'snippet_code/other_related_post.html' %}
        
        {% endblock content %}