{% extends 'base.html' %}

{% block title %}
Entrance Preparation Syallabus
{% endblock title %}


{% block content %}

            <div class="container">
                <div class="que-coll-top">
                    <div class="que-coll-top-left">
                        <div class="sub-nav-top">
                            <a href="#">
                                <span>Home</span>
                            </a>
                            <i class="fa-sharp fa-solid fa-angle-right"></i>
                            <a href="#">
                                <span>Useful Links</span>
                            </a>
                        </div>
                        <div class="error-404-underline que-coll-line"></div>
                        <div class="ent-prep-left">
                            <div class="ent-prep-left-item-with-head">
                                <h2>{{data.first.university_choices}}</h2>
                                {% for info in data %}
                                
                            <div class="ent-prep-item">
                                <div class="ent-prep-item-content flex-column">
                                    <span>{{info.faculty_choices}}</span>
                                </div>
                                <div class="ent-perp-dropdown">
                                    <table>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Questions</th>
                                            <th>Marks</th>
                                        </tr>
                                        <tr>
                                            <td>{{info.subject}}</td>
                                            <td>{{info.no_of_questions}}</td>
                                            <td>{{info.marks}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    
        {% include 'snippet_code/popular_post.html' %}

        {% include 'snippet_code/join_with_us.html' %}

        {% include 'snippet_code/other_related_post.html' %}


        {% endblock content %}