{% extends 'base.html'%}
{% block meta %}
    <!-- Meta description and keywords for SEO -->
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="robots" content="index, follow">

    <!-- Open Graph protocol for social media previews facebook/-->
    <meta property="og:title" content="title">
    <meta property="og:description" content="description">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="image">
    
    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="title">
    <meta property="twitter:image" content="image">
    <meta property="twitter:description" content="description">    
    
{% endblock %}

{% block pageheading %}
Entrance - Past Question
{% endblock pageheading %}


{% block content %}
<div class="container">
    <div class="que-coll-top">
        <div class="que-coll-top-left">
            <div class="sub-nav-top">
                <a href="#">
                    <span>Home</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Entrance</span>
                </a>
                <i class="fa-sharp fa-solid fa-angle-right"></i>
                <a href="#">
                    <span>Past Question</span>
                </a>
            </div>
            <div class="error-404-underline que-coll-line"></div>

            <!-- <div class="top-bar-view">
                <a class="year-tags"  >YEAR:1990</a>
                <a class="year-tags"  >YEAR:1990</a>
                <a class="year-tags active"  >YEAR:1990</a>
                <a class="year-tags"  >YEAR:1990</a>
                <a class="year-tags"  >YEAR:1990</a>
                <a class="year-tags"  >YEAR:1990</a>
            </div> -->
            
            <!-- {% for item in past_question_object_list %}
            <a id="past_question_id{{item.id}}"
                style="margin: 2px; padding: 2px; border: 1px solid #232e52; border-radius: 10px; cursor: pointer; background-color: #232e52; color: white; "
                past_question_object_data="{{item.id}}">YEAR:{{item.year}}</a>
            {% endfor %} -->
            
            {% if past_question_object_list %}
            <div class="top-bar-view">
                {% for item in past_question_object_list %}
                <a id="past_question_id{{item.id}}" class="year-tags{% if forloop.first %} active{% endif %}" past_question_object_data="{{item.id}}"  >YEAR:{{ item.year }}</a>
                {% endfor %}
            </div>
            
            <h6 id='past_question_details'>Selected question paper: {{past_question.year}}({{past_question.types}})</h6>

            <div class="que-coll-left-container" id ='pastQuestionContainer'>
                {% if past_question.is_pdf %}
                <div id="pdfContainer" style="position: relative; height: 100vh;" class="que-coll-top-left">
                    <button id="fullscreenButton" style="position: absolute; top: 0; right: 2px;"><i
                            class="fa-solid fa-expand"></i></button>
                    <iframe id="pdfFrame" style="border: 2px solid #232e52 " src="{{past_question.pdf_url}}"
                        width="100%" height="100%" responsive=true></iframe>
                </div>
                {% else %}
                <div id = "pastQuestionContentContainer">
                {{past_question.content|safe}}
                </div>
                {% endif %}
            </div>
            {% else %}
            <h1>No Data Found!</h1>
            {% endif %}
        </div>
        <div class="que-coll-top-right">
            {% include 'snippet_code/popular_post.html' %}
        </div>
    </div>
    <div class="error-404-underline que-coll-line"></div>

    {% include 'snippet_code/other_related_post.html' %}
</div>
{% if past_question.is_pdf %}
{% include 'snippet_code/snippet_iframe_pdf_view_js.html' %}
{% endif %}

<script>
    // render the past question content using ajax
    $(document).ready(function () {
        $(document).on('click', '[id^="past_question_id"]', function (e) {
            var past_question_object_id = $(this).attr('past_question_object_data');   // Retrieve the value of the 'past_question_object_data' attribute for the clicked element
            // Show loading spinner
            $("#loading-spinner").show();
            
            setTimeout(function(){
                $.ajax({
                type: 'GET',                        
                url: '',                                            
                "X-Requested-With": "XMLHttpRequest",                                   
                data: {                                                                         
                    id: past_question_object_id       // Pass the 'past_question_object_id' as a parameter in the AJAX request 
                },
                success: function (response) {     
                    
                    if (response.data[0].is_pdf == true){
                        year = response.data[0].year       // Get the 'year' value from the response
                        url = response.data[0].url         // Get the 'url' value from the response
                        types = response.data[0].types    // Get the 'types' value from the response
                        $("#pastQuestionContentContainer").remove()

                        var pdfContainer = document.createElement("div");
                        pdfContainer.setAttribute("id","pdfContainer");
                        pdfContainer.setAttribute("class","que-coll-top-left");
                        pdfContainer.setAttribute("style","position: relative; height: 100vh;")
                        
                        var fullscreenButton = document.createElement("button");
                        fullscreenButton.setAttribute("id","fullscreenButton");
                        fullscreenButton.setAttribute("style","position: absolute; top: 0; right: 2px;");

                        var i = document.createElement("i");
                        i.className = "fa-solid fa-expand"

                        var pdfFrame = document.createElement("iframe");
                        pdfFrame.setAttribute("id","pdfFrame");
                        pdfFrame.setAttribute("style","border: 2px solid #232e52 ");
                        pdfFrame.src = url;
                        pdfFrame.width = "100%";
                        pdfFrame.height = "100%";
                        pdfFrame.responsive = true;

                        pdfContainer.appendChild(fullscreenButton);
                        fullscreenButton.appendChild(i);
                        pdfContainer.appendChild(pdfFrame);

                        if(pdfContainer){
                            $('#pdfContainer').remove();
                            $('#pastQuestionContainer').append(pdfContainer);

                            // The element you want to make fullscreen
                            var elem = document.getElementById('pdfContainer');

                            // The button that will trigger fullscreen mode
                            var fsButton = document.getElementById('fullscreenButton');

                            // The icon inside the fullscreen button
                            var fsIcon = fsButton.querySelector('i');

                            // A function to request fullscreen mode
                            function requestFullscreen() {
                                if (elem.requestFullscreen) {
                                    elem.requestFullscreen();
                                } else if (elem.mozRequestFullScreen) { /* Firefox */
                                    elem.mozRequestFullScreen();
                                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                                    elem.webkitRequestFullscreen();
                                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                                    elem.msRequestFullscreen();
                                }
                            }

                            // A function to exit fullscreen mode
                            function exitFullscreen() {
                                if (document.exitFullscreen) {
                                    document.exitFullscreen();
                                } else if (document.mozCancelFullScreen) { /* Firefox */
                                    document.mozCancelFullScreen();
                                } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                                    document.webkitExitFullscreen();
                                } else if (document.msExitFullscreen) { /* IE/Edge */
                                    document.msExitFullscreen();
                                }
                            }

                            // Listen for a click on the fullscreen button
                            fsButton.addEventListener('click', function() {
                                if (!document.fullscreenElement) {
                                    requestFullscreen();
                                    fsIcon.classList.remove('fa-expand');
                                    fsIcon.classList.add('fa-compress');
                                } else {
                                    exitFullscreen();
                                    fsIcon.classList.remove('fa-compress');
                                    fsIcon.classList.add('fa-expand');
                                }
                            });

                            // Listen for fullscreen changes
                            document.addEventListener('fullscreenchange', function() {
                                if (!document.fullscreenElement) {
                                    fsIcon.classList.remove('fa-compress');
                                    fsIcon.classList.add('fa-expand');
                                } else {
                                    fsIcon.classList.remove('fa-expand');
                                    fsIcon.classList.add('fa-compress');
                                }
                            }
                            );
                            
                            // pdfFrame onload and execute this function
                            pdfFrame.onload = function () {
                            // PDF frame has finished loading
                            // Now, you can hide the loading spinner
                                $("#loading-spinner").hide();
                            };
                            
                        }else{
                            $('#pastQuestionContainer').append(pdfContainer);
                        }

                        $("#past_question_details").text('Selected question paper: ' + year + '(' + types + ')')    // Set the text content of the element with ID 'past question details' to the selected question paper details
                        
                    }
                    else{
                        content = response.data[0].content
                        year = response.data[0].year       
                        types = response.data[0].types

                        $('#pdfContainer').remove()

                        var pastQuestionContentContainer = document.createElement("div");
                        pastQuestionContentContainer.id = "pastQuestionContentContainer"
                        pastQuestionContentContainer.innerHTML = content;

                        if(pastQuestionContentContainer){
                            $('#pastQuestionContentContainer').remove();
                            $('#pastQuestionContainer').append(pastQuestionContentContainer);
                        }else{
                            $('#pastQuestionContainer').append(pastQuestionContentContainer);
                        }

                        $("#past_question_details").text('Selected question paper: ' + year + '(' + types + ')')
                        
                        // Hide loading spinner
                        $("#loading-spinner").hide();
                    }

                },
                error: function (error) {
                    console.log(error)      // Log any errors that occur during the AJAX request
                    // Hide loading spinner
                    $("#loading-spinner").hide();
                }
            });
            }, 500);

            
        });
    });


    // Select the past question 'active'
    $(document).ready(function() {
    // Add click event to year-tags links
    $('.year-tags').click(function() {

        // Remove active class from all links
        $('.year-tags').removeClass('active');
        
        // Add active class to the clicked link
        $(this).addClass('active');
        });
    }); 

</script>
{% endblock content %}