{% extends 'base_home.html' %}
{% block content %}
<section class="user_section">
    <div class="user_container">
        <div class="top_cont">
            <h1>Reset Your Password</h1>
            <p style="width:60%">Enter the email address associated with your account and we will send you a link to
                reset your password. </p>
        </div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {% csrf_token %}
            {% if messages %}
            {% for messaage in messages %}
            <span class="error" id="login_error" style="color: red;">{{messaage}}</span>
            {% endfor %}
            {% endif %}
            <div class="input_container">
                <label for="email">
                    Email Address
                </label>
                <div class="input_box">
                    <i class="fa-regular fa-envelope left"></i>
                    <input type="email" name="email" id="email" placeholder="Enter your email"
                        onkeyup="validateEmail()" />
                    <i class="fa-regular fa-circle-xmark right" id="img_container"></i>
                </div>
            </div>
            <button class="sign_btn" >Continue</button>
            <div class="remember_innerContainer">
                <p class="last_cont"></p> <span></span><a class="sign_links" href="{% url 'login' %}"><b
                        style="font-weight: 600;font-size:0.8rem ;">Back to Sign In</b></a>
            </div>

        </form>
    </div>
</section>

<script src="main.js "></script>
<script>
    function validateEmail() {
        const emailInput = document.getElementById('email');
        const email = emailInput.value;


        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;


        const isValidEmail = emailRegex.test(email);

        if (isValidEmail) {
            img_container.classList.remove('fa-circle-xmark')
            img_container.classList.add('fa-circle-check')


        } else {
            img_container.classList.remove('fa-circle-check')
            img_container.classList.add('fa-circle-xmark')
        }

        emailInput.style.borderColor = isValidEmail ? 'green' : 'red';
    }
</script>
{% endblock content %}
